body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

#chart {
    width: 100%;
}

#chart svg {
    border: #ccc;
    width: 100%;
    height: auto;
}

#chart .axis {
    font-size: inherit;
}

#chart .ten-percent-lines line {
    stroke: lightgrey;
    stroke-width: 1px;
}

#chart .ten-percent-lines g:nth-child(5n) line {
    stroke: grey;
}

#chart .ten-percent-lines g:nth-child(10n) line {
    stroke: lightgrey;
}

#chart .midnight-lines line {
    stroke: grey;
    stroke-width: 1px;
}

#chart .midnight-lines text {
    fill: grey;
    text-anchor: start;
    dominant-baseline: hanging;
    font-size: inherit;
    font-family: inherit;
}

#chart .data-line {
    fill: none;
    stroke-width: 1px;
}

#chart .data-line:hover {
    stroke-width: 4px;
}